
:root {
  --background-color: #121212;
  --primary-text-color: #ffffff;
  --secondary-text-color: #bbbbbb;
  --accent-color: #4caf50;
  --content-bg-color: #1e1e1e;
  --border-radius: 8px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.App {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  height: 100vh; /* Full height of the viewport */
  text-align: center;
}

.sidebar {
  background-color: var(--content-bg-color);
  padding: 20px;
  border-radius: var(--border-radius);
  width: 20%; /* Adjust width as needed */
  height: calc(100% - 40px); /* Full height minus padding */
  overflow-y: auto; /* Enable scroll for long lists */
  overflow-x: hidden; /* Enable scroll for long lists */
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 20px;
  box-sizing: border-box;
}

.main-content {
  flex-grow: 1;
  background-color: var(--content-bg-color);
  padding: 20px;
  border-radius: var(--border-radius);
  height: calc(100% - 40px);
  overflow-y: auto;
  box-sizing: border-box;
}

input[type="text"] {
  padding: 10px;
  border-radius: var(--border-radius);
  border: none;
  margin-bottom: 10px;
  width: 100%; /* Full width of the sidebar */
  box-sizing: border-box;
  text-align: center;
}

button {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  border: none;
  padding: 10px 15px;
  margin: 5px 0; /* Spacing between buttons */
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%; /* Full width of the sidebar */
}

button:hover {
  background-color: rgb(86, 86, 86);
}

.keypoint {
  background-color: var(--background-color);
  padding: 10px;
  margin-top: 10px;
  border-radius: var(--border-radius);
  flex: 0 0 auto; /* Prevent buttons from shrinking */
  cursor: pointer;
}

.keypoint:hover {
  background-color: rgb(86, 86, 86);
}

.current-point{
  margin-bottom: 50px;
  padding: 50px 0px;
}

.comprehension-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.response-button {
  flex: 1;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    height: auto;
  }

  .keypoints-container {
    /* Styles for horizontal scrolling */
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  .keypoint {
    /* Ensure buttons don't shrink and have margin */
    flex: 0 0 auto;
    margin-right: 5px;
  }
  .main-content {
    width: 100%;
  }
}



.keypoint.current {
  background-color: #AF4CAB; /* Or any other style to highlight */
}